.container {
  min-height: auto;
}



/* Desktop Nav Styling */
#burger {
  display: none;
}
nav {
  display: flex;
  overflow: auto;
  padding: 0 5px 0 5px;
  margin:  0 10px 4px 10px;
}
nav > ul {
  display: flex;
  list-style: none;
}
nav > ul li {
  border-bottom: 2px solid #4e3f19;
  padding-right: 10px;
  margin-top: 4px;
  flex: 1 1 5%;
}
nav > ul > li:nth-child(5)
{
  flex: 1 1 10%;
  min-width: 310px;
}
nav > ul > li a {
  margin-left: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-radius: 0;
}
nav > ul> li:first-child > a{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

nav > ul > li:last-child {
  border-bottom: none;
}
nav > ul > li  a:hover {
  background-color: #c98c0c;
}
.SelectedPage{
  text-decoration: underline !important; 
  background-color: #e4a406 !important;
}

/* header styling */
#headerMainContent {
  flex-direction: row;
}

/* Main Page Content  Styling */
main {
  display: grid;
  column-gap: 15px;
}
#imgGallary{
  margin: 100px 20px 0 0;
  max-width: 900px;
  max-height: 500px;
  min-height: 500px;
}
.imageIndicator {
  bottom: 25px;
  right: 20px;
}
.aboutUsBtn {
  bottom: 25px;
  left: 20px;
}
.imgSizer {
  width: 100%;
  height: auto;
  min-height: 500px;
  max-height: 500px;
}
main > section {
  margin: 30px 5px 20px 30px;
}
main > section:nth-child(2){
  max-height: 400px;
  grid-row-start:  1;
  grid-column: 1;

}
main > section:last-child{
  grid-row: 2;
  grid-column: 1;
  margin-top: 0;

}
.side{
  grid-row: 1 / span 2;
  grid-column: 2;
}