@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Varela+Round&display=swap");
body {
height: 100%;
  padding: 0;
  margin: 0;
  background-color: #e4a406;
  font-family: "Varela Round", sans-serif;
}
.container {width: 100%; height: 100%;display: flex; flex-direction: column;}

/* Header Styling */
header {
  background-color: #4e3f19;
  height: 100%;
}

#headerMainContent {
  display: flex;
  padding: 5px;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}
#headerMainContent img {
  flex: 0 1 25%;
  width: 100%;
  max-width: 170px;
  min-width: 110px;
}
#headerMainContent > .CurrentPage {
  flex: 0 1 90%;
  color: white;
}

/* Footer styling */
footer {
  background-color: #867858;
  font-style: italic;
  color: white;
  text-align: center;
  position: fixed;
  margin: 10px 0 0 0;
  padding-bottom: 10px;
  width: 100%;
  bottom: 0;
}
.footerContact > p {
  padding-bottom: 5px;
  margin: 0;
  border-bottom: 5px solid #a6a6a6;
}
.footerContact > p:last-child {
  padding-bottom: 0;
  padding-top: 5px;
  border-bottom: none;
}

/* Nav styling */
#burger {
  flex: 0 1 10%;
}
#burger > .line {
  background-color: white;
  width: 35px;
  height: 10px;
  margin: 5px;
  border-radius: 5%;
}

nav {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 5px 0 5px;
  transition: height 500ms ease;
}
nav > ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav > ul > li {
  border-bottom: 2px solid #4e3f19;
}
nav > ul > li:last-child {
  border-bottom: none;
}
nav > ul > li > a {
  display: inline-block;
  width: 100%;
  background-color: #a37412;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}
nav > ul > li > a:hover {
  background-color: #e4a406;
}

/* Dropdowns style */
.dropdownContent {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding-left: 0;
  overflow: hidden;
  transition: height 300ms ease;
}
.dropdownContent > li {
  border-bottom: 2px solid #4e3f19;
}
.dropdownContent > li > a {
  display: inline-block;
  width: 100%;
  background-color: #a37412;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}

/* main content styling */
main {
  display: flex;
  flex-direction: column;  
  height: 100%;}
main > section {
    margin: 10px;
    padding: 15px;
    background-color: #c98c0c;
    border-radius: 15px;
}
main > section:first-child{
    background-color: #e4a406;
}
main > section:last-child{
    background-color: #a37412;
}

/* table styling */
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 15px 5px;
  text-align: left;
  border-right: 1px solid #000;
}
tr {
  border-bottom: 2px solid #000;
  background-color: #fff;
}
