@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Varela+Round&display=swap");
body {
  height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #e4a406;
  font-family: "Varela Round", sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}
#NonHome {
  color: #fff;
  display: flex;
  flex-direction: column-reverse;
}
/* Header Styling */
header {
  background-color: #4e3f19;
  height: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
}

#headerMainContent {
  display: flex;
  padding: 5px;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}
#headerMainContent img {
  flex: 1 1 25%;
  width: 100%;
  max-width: 170px;
  min-width: 110px;
}
#headerMainContent > .CurrentPage {
  flex: 1 1 90%;
  color: white;
}

/* Footer styling */
footer {
  background-color: #867858;
  font-style: italic;
  color: white;
  text-align: center;
  vertical-align: middle;
  margin: 10px 0 0 0;
  padding-bottom: 10px;
  width: 100%;
}
.footerContact > p > a {
  color: blue;
  font-weight: bold;
}
.footerContact > p {
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;
  border-bottom: 5px solid #a6a6a6;
}
.footerContact > p:last-child {
  padding-bottom: 0;
  padding-top: 5px;
  border-bottom: none;
}

/* Nav styling */
#burger {
  display: block;
  flex: 0 1 10%;
}
#burger > .line {
  background-color: white;
  width: 35px;
  height: 10px;
  margin: 5px;
  border-radius: 5%;
}
nav {
  display: flex;
  flex-direction: column;
  padding: 0 5px 0 5px;
}
nav > ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav > ul > li {
  border-bottom: 2px solid #4e3f19;
}
nav > ul > li:last-child {
  border-bottom: none;
}
nav > ul > li > a {
  display: inline-block;
  width: 100%;
  background-color: #a37412;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.75em;
  text-decoration: none;
}
nav > ul > li > a:hover {
  background-color: #e4a406;
}

/* Dropdowns style */
.dropdownContent {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.dropdownContent > li {
  border-bottom: 2px solid #4e3f19;
}
.dropdownContent > li > a {
  display: inline-block;
  width: 100%;
  background-color: #a37412;
  color: white;
  font-weight: bold;
  font-size: 1.75em;
  text-decoration: none;
}

/* main content styling */
main {
  height: 100%;
  width: 100%;
  flex-grow: 1;
}
main > section ,.side{
  margin: 5px 10px 8px 10px;
  padding: 12px;
  background-color: #c98c0c;
  border-radius: 15px;
  flex-grow: 1;
}
main > section:first-child:nth-last-child(3) {
  margin-bottom: 0;
  padding-bottom: 6px;
  background-color: #e4a406;
}

main > section:last-child {
  background-color: #a37412;
  flex-grow: 0.8;
}

/* images */
#imgGallary {
  position: relative;
}
.imgSizer {
  width: 100%;
  height: auto;
}
.imgGal {
  min-height: 277.5px;
}
.imageIndicator {
  display: inline;
  position: absolute;
  bottom: 20px;
  right: 10px;
  background-color: white;
  border-radius: 15px;
  padding: 6px 4px 4px 4px;
  opacity: 60%;
}
.imageIndicator img {
  width: 25px;
  margin: 4px;
  opacity: 100%;
  height: auto;
}
.aboutUsBtn {
  display: inline;
  position: absolute;
  background-color: #867858;
  color: white;
  border-radius: 10px;
  padding: 4px;
  margin: 4px;
  font-size: 20px;
  bottom: 20px;
  left: 10px;
}

/* Search Area On Home Styling and Design and Computing Page */

.courseSearch {
  overflow: scroll;
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 400px;
  min-height: 200px;
  border-radius: 5px;
}

#searchArea {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #c98c0c;
  position: sticky;
  top: 0;
}
input[name="searchBox"] {
  width: 85%;
  height: 25px;
  border-radius: 5px;
}
.submitButton {
  width: 10%;
  height: 25px;
  border-radius: 5px;
  background-image: url("../images/magnifying-glass.png");
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}
/* table styling */

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
th,
td {
  padding: 15px 5px;
  text-align: left;
  border-right: 1px solid #000;
  overflow: auto;
}
td > a {
  color: brown;
  font-weight: bold;
}
tr {
  border-bottom: 2px solid #000;
  background-color: #fff;
  overflow: auto;
  color: black;
}

.findUsMap > h2 {
  display: inline-block;
  margin: 0 0 10px 0;
  background-color: #4e3f19;
  color: #fff;
}

.AlphaList {
  list-style: upper-alpha;
}
.RomanNumList {
  list-style: lower-roman;
}
.ListStyleDef {
  list-style: disc;
  font-size: 0.8em;
}
.ListStyleNone {
  list-style: none;
  padding-left: 0;
}
dt {
  font-weight: bold;
}
dd {
  padding-left: 0;
  margin-left: 0;
}
#ContactForm label {
  display: block;
}
input[name="FirstName"] ,
input[name="LastName"],
input[type="email"],
#ContactForm textarea {
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  padding: 12px;
}
#ContactForm input[type="submit"] {
  background-color: #c98c0c;
  color: white;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.5em;
  width: 100%;
}
